<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.image.ai.mapper.MessagesMapper">
    <resultMap id="BaseResultMap" type="com.yht.image.ai.mapper.po.Messages">
        <id property="id" column="id"/>
        <result property="conversationsId" column="conversations_id"/>
        <result property="role" column="role"/>
        <result property="content" column="content"/>
        <result property="modelId" column="model_id"/>
        <result property="modelName" column="model_name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>
</mapper>